#gallery-container
	#gallery
		#painting1{:class => 'painting'}
		#painting2{:class => 'painting'}
		#painting3{:class => 'painting'}
%p
	%a{:id =>'prev', :href => 'javascript:void(0);'} Previous
	%a{:id =>'next', :href => 'javascript:void(0);'} Next
%p
	%a{:id =>'flip', :href => 'javascript:void(0);'} Flip
%p
	%a{:id =>'revert', :href => 'javascript:void(0);'} Revert
	