body
	background: #E5E5E5
	margin: 0 auto
	font-family: Georgia, serif
	font-size: 18pt
	line-height: 27pt

#contents
	background: #E5E5E5 url('/images/bg.png') scroll no-repeat 0 0
	width: 960px
	overflow: hidden
	min-height: 600px
	margin: 0 auto
	padding-top: 50px 

#title
	text-indent: -6000px
	background: transparent url('/images/logo.png') scroll no-repeat 0 0
	display: block
	width: 468px
	height: 73px
	margin: 0 auto

#separator
	display: block
	margin: 20px auto

#main-text
	width: 860px
	margin: 0 auto
	text-align: justify
	
.highlight
	font-style: italic
	font-weight: bold
	
#gallery
	margin: 0 auto
	
.painting
	width: 800px
	height: 400px

#painting1
	background: red

#painting2
	background: green

#painting3
	background: blue
		
#footer
	height: 20px