#contents
	%h1{:id => 'title'} Estructuras de color
	%img{:id => 'separator', :src => '/images/separator.png'}
	#main-text
		%p 
			%span{:class => 'highlight'} Estructura. 
			Es la disposición y orden de las partes dentro de un todo. También puede entenderse como un sistema de conceptos coherentes enlazados, cuyo objetivo es precisar la esencia del objeto de estudio.
		%p 
			%span{:class => 'highlight'} Color. 
			Es una percepción visual que se genera en el cerebro al interpretar las señales nerviosas que le envían los fotorreceptores de la retina del ojo y que a su vez interpretan y distinguen las distintas longitudes de onda que captan de la parte visible del  espectro electromagnético.